<h1>New plant</h1>

<form action="/plants/upsert" role="form" method="post">
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  {{#if plant}}
    <div>
      <h2>{{plant.name}}</h2>
      <input type="hidden" name="id" value="{{plant.id}}">
  
    </div>
  {{/if}}
  <div>
    <label for="plant">Plant</label>
    <input type="text" id="name" name="name" {{#if plant}}value="{{plant.name}}"{{/if}}>
  </div>
  <div>
    <label for="description">Description</label>
    <textarea id="description" name="description">{{#if plant}}{{plant.description}}{{/if}}</textarea>
  </div>
  <div>
    <label for="plant_img_url">Image URL</label>
    <input type="text" id="plant_img_url" name="plantImgUrl" {{#if plant}}value="{{plant.plantImgUrl}}"{{/if}}>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
